@using System.Linq;
@using System.Xml.Linq;
@using uBlogsy.BusinessLogic;
@using umbraco.MacroEngines;

    <!-- <h3> -->
        @{
            // get landing page
            var landing = uBlogsy.BusinessLogic.DataService.Instance.GetLanding(Model.Id);
            var rss = ((DynamicNode)landing).GetChildrenAsList.Items.Where(x => x.NodeTypeAlias == "uBlogsyRSS").Single();
            <a href="@rss.Url" class="btn btn-primary" title="RSS"><span>@Dictionary["uBlogsyDicRssSubscribe"]</span></a>    
        }
    <!-- </h3> -->
